body {
    background-color: red;
    margin: 20px;
    padding: 30px;
    font-weight: 200;
    font-size: 35px;
    color: aqua;
    text-decoration: double;
    width: 25px;
    margin-top: 20px;
}